process {
    executor = 'google-batch'
    container = 'us-central1-docker.pkg.dev/ml-fpt-rsa-passosj-s-p-5c08/qsu1/alignment:latest'
    cpus = 16
    memory = '80 GB'
    time = '24h'
    maxRetries = 2
}

google {
    project = 'ml-fpt-rsa-passosj-s-p-5c08'
    location = 'us-central1'
    batch.usePrivateAddress = true
    batch.network = 'projects/ml-fpt-iac-ahvpc-p-be46-h/global/networks/ml-app-hpc-p-h'
    batch.subnetwork = 'projects/ml-fpt-iac-ahvpc-p-be46-h/regions/us-central1/subnetworks/ml-app-hpc-p-h-us-central1-prd-api'
    batch.serviceAccountEmail = 'vaults6-m305269-p-1782146095@ml-fpt-rsa-passosj-s-p-5c08.iam.gserviceaccount.com'
    batch.spot = true
}

params {
    cpus = 16
    no_gpu = true
    bucket = null
}
